.octocat img {
    width: 445px;
    margin-right: 12px;
    border: 1px solid #CFCFCF;
}


.authors img {
    width: 25px;
    float: right;
}


.octocat {
    float: left;
    height: 445px;
}

ul {
    list-style: none;
    padding-left: 12px;

}



.image-caption{
    color: #777;
    display: inline;
    float: right;
    position: relative;
    font-weight: 700;
}


.authors {
    display: inline;
    float: right;
    position: relative;
    top: -8px;
}

li img {
    border-radius: 5px;
}




 .image-number {
    color: #D3D3D3;
    font-style: bold;
}

.image-number::before {
    content: "#";
}

a {
    color: black;
    text-decoration: none;
}

.image-footer {
    border-bottom: 1px solid #D3D3D3;
    padding: 10px 0;
}