/* Octodex */
.octodex {
  font-family: "helvetica" san-serif;
}


/* Octocat */
.octocat img {
    width: 445px;
    border: 1.5px solid #CFCFCF;
}

.octocat {
    float: left;
    height: 445px;
    margin-right: 12px;
}

/* authors */
.authors img {
    width: 25px;
    float: right;
}

.authors {
    display: inline-block;
    float: right;
    position: relative;
    top: -8px;
}


/* Image-Caption */
.image-caption{
    color: #777;
    display: inline;
    float: right;
    position: relative;
    font-weight: 700;
}

/* Image-Number */
 .image-number {
    color: #D3D3D3;
    font-style: bold;
}

.image-number::before {
    content: "#";
}

/* Image-Footer */
.image-footer
    border-bottom: 1px solid #D3D3D3;
    padding: 15px 0;
    position: relative;
git }

.image-footer::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-top-color: #cacaca;
  position: absolute;
  right: 6.5px;
  top: -4px;
}


ul {
    list-style: none;
    padding-left: 12px;
}


li img {
    border-radius: 5px;
}


a {
    color: black;
    text-decoration: none;
}


